{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="search">
        <div class="">
            <form action="{% url 'index' %}" method="GET">
                <div class="">
                    <input type="text" class="" placeholder="Search" name="search">
                    <div class="">
                        <button class="" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="list">
        {% for pokemon in pokemon %}
        <div class="">
            <a href="{% url 'pokemon' pokemon.id %}" class="listCard">
                <img src="{{ pokemon.front_default }}" class="" alt="{{ pokemon.name }}">
                <div class="">
                    <div class="">{{ pokemon.id }}</div>
                    <h5 class="">{{ pokemon.name }}</h5>
                    {% if pokemon.type2 %}
                    <p class="">{{ pokemon.type1 }}/{{ pokemon.type2 }}</p>
                    {% else %}
                    <p class="">{{ pokemon.type1 }}</p>
                    {% endif %}
            </a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}